controller_server:
  ros__parameters:
    use_sim_time: true

    controller_frequency: 10.0

    # TF frame-ek
    global_frame: "map"
    odom_frame:   "odom"
    robot_base_frame: "base_link"

    # Nav2 által publikált cmd_vel topic
    cmd_vel_topic: "cmd_vel"

    progress_checker_plugin: "progress_checker"
    goal_checker_plugins: ["goal_checker"]
    controller_plugins: ["FollowPathRPP"]

    progress_checker:
      plugin: "nav2_controller::SimpleProgressChecker"
      required_movement_radius: 0.1
      movement_time_allowance: 10.0

    goal_checker:
      plugin: "nav2_controller::SimpleGoalChecker"
      xy_goal_tolerance: 0.05
      yaw_goal_tolerance: 0.1
      stateful: true

    FollowPathRPP:
      plugin: "nav2_regulated_pure_pursuit_controller::RegulatedPurePursuitController"

      # sebességek
      desired_linear_vel: 0.25
      max_linear_accel: 0.5
      max_angular_accel: 1.0

      # lookahead - szorosabb pályakövetéshez
      lookahead_dist: 0.3
      min_lookahead_dist: 0.2
      max_lookahead_dist: 0.4
      use_velocity_scaled_lookahead_dist: false

      # induláskor forduljon rá a path-ra
      use_rotate_to_heading: true
      rotate_to_heading_min_angle: 0.3  # ~17 fok

      use_approach_velocity_scaling: true
      approach_velocity_scaling_dist: 0.6
      transform_tolerance: 0.1

      # pályakövetés finomhangolás
      regulated_linear_scaling_min_radius: 0.9
      regulated_linear_scaling_min_speed: 0.10
      use_regulated_linear_velocity_scaling: true
      use_cost_regulated_linear_velocity_scaling: false

      allow_reversing: false
      enable_odom_smoothing: true

      max_robot_pose_search_dist: 100.0


# =========================
#  LOCAL COSTMAP
# =========================
local_costmap:
  local_costmap:
    ros__parameters:
      use_sim_time: true

      global_frame: "map"
      robot_base_frame: "base_link"

      update_frequency: 10.0
      publish_frequency: 10.0

      rolling_window: true
      width: 5
      height: 5
      resolution: 0.1

      # egyszerű téglalap footprint
      footprint: "[[0.25, 0.15], [0.25, -0.15], [-0.25, -0.15], [-0.25, 0.15]]"

      # FONTOS: a te /map occupancy gridedet is vegye át
      plugins: ["static_layer", "obstacle_layer", "inflation_layer"]

      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"
        enabled: true
        map_subscribe_transient_local: true
        map_topic: "/map"

      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        enabled: true
        observation_sources: "scan"
        scan:
          topic: "lidar"          # a 2D lidar ROS topic neve
          clearing: true
          marking: true
          data_type: "LaserScan"
          obstacle_range: 5.0
          raytrace_range: 6.0

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        enabled: true
        inflation_radius: 0.5
        cost_scaling_factor: 3.0
